@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.section-card{
    display: flex;
    justify-content: center;
}
.card{
    display: block;
    text-align: center;
    height: 80vh;
    width: 90vw;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    margin-top: 10vh;
    border-radius: 22.4px;
    box-shadow: 10px 10px 10px 10px grey;
}
.title{
    background-color: transparent;
    font-size: 2vw;
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #F0F0F0;
    color: white;
}
.generate-btn{
    background-color: transparent;
    border: 2px solid white;
    width: 20vw;
    height: 5vh;
    border-radius:22.4px ;
}
.text-input{
    width: 25vw;
    text-align: center;
    border-radius: 22.4px;
    height: 15vh;
    color: #30cfd0;
    font-size: 1vw;
}
.speaker-input{
    text-align: center;
    width: 25vw;
    height: 4vh;
    border-radius:22.4px ;
    border: none;
    margin: 2vw;
    font-size: 1vw;
    color: #30cfd0;
}

.generate-btn:hover{
    
    border:none ;
}

.audio-out{
    background-color: transparent;
    margin: 10vh;
}